.header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.settings-wrapper {
  display: flex;
  flex-direction:column;
  align-items: center;
}
.btn {
  outline: none;
  border: none;
  font-size: calc(10px + 2vmin);
  background-color: #eaeaea;
  padding: 5px 0;
  color: #282c34;
  width: 100%;
}

.btn:active {
  outline: 1px solid #ccc;
  box-shadow: 0 0 15px #282c34 #aaa;
}

.btn.play-btn {
  font-weight: bold;
  max-width: 200px;
}

.btn.remove-player {
  max-width: 40px;
}

.labeled-input_label {
  font-size: calc(10px + 1.5vmin);
}

.number-input_input,
.labeled-input_input {
  color: #282c34;
  padding: 5px;
  font-size: calc(10px + 1vmin);
}

.player-color-input {
  display: flex;
  margin: 20px 0;
  align-items: center;
}

.player-color-input [type='color'] {
  width: 20px;
  padding: 0;
  outline: none;
  border: none;
  margin: 0;
  height: 20px;
}

.newplayer-input {
  border: 1px solid #333;
  padding: 10px;
  margin: 40px 0;
}

.player-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.player-container {
  margin-bottom: 5px;
  font-weight: bold;
}

.players-list_title {
  text-align: center;
  border-bottom: 1px solid #000;
}

.player-container_color {
  width: 2rem;
  height: 2rem;
  box-shadow: 0 0 5px #000;
}

.players-placeholder {
  color: #333;
  text-align: center;
}